/data/SOU_BK_mergeHeadEars_Pois_12_7_Smooth_BEMReady_left_ear.ply
/data/SOU_CV_left_ear.ply
/data/SOU_LS_KU100_left_ear.ply
/result/1.ply
/result/1.txt
/result/SOU_BK_mergeHeadEars_Pois_12_7_Smooth_BEMReady_left_ear_adapt_ppm_v1.blend
/result/SOU_CV_left_ear_adapt_ppm_v1.blend
/result/SOU_LS_KU100_left_ear_adapt_ppm_v1.blend
/result/blender_bones_data.ply
/result/blender_bones_data.txt

.DS_Store

# python

*.pyc

